.custom-form-input {
  width: 100%;
  max-width: 600px;
  margin: 10px 0px;
  height: 30px;
  padding: 0 15px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--card-background);
  transition: all 0.3s ease-in-out;
}

.custom-form-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(82, 196, 26, 0.3);
}

.custom-form-input:hover {
  border-color: var(--primary-color);
}

.custom-form-input::placeholder {
  color: var(--text-secondary);
}